/* Reset body margin/padding */
body {
  margin: 0;
  padding: 0;
}

.home {
  width: 100%;
  min-height: calc(73vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT";
}

.headerContainer {
  width: auto;
  padding: 0 20px; /* Add padding for smaller screens */
  text-align: center;
  background-color: grey;
  border-radius: 10px;
  background: rgba(22, 27, 46, 0.4);
}

.headerContainer h2 {
  color: white;
  font-size: calc(2px + 6vw); /* Adjust font size responsively */
}
